body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f5f6f7;
  color: #474747;
  font-family: Tahoma;
  font-size: 16px;
}

#theme-toggle {
  font-size: 1.6rem;
  position: fixed;
  left: 75%;
  top: 5%;
}

body.darkMode {
  background-color: #1b1b32;
  color: #8d8181;
}

input.darkMode, textarea.darkMode, select.darkMode{
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
}

input[type="submit"].darkMode{
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 80vw;
  /* max-width: 500px; */
  /* min-width: 300px; */
  margin: auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #6b6b6b;
}
  
fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  border-radius: 6px;
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline{
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input, textarea{
  background-color: white;
  border: 1px solid white;
  color: #ffffff;
}

select{
  border: 1px solid white;
  color: #474747;
}

input[type="submit"]{
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
}

.inline label{
  display: inline-block;
}

[id$="-label"] input{
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.4);
}

textarea, select{
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.4);
}

/* Media query for responsiveness */
@media (max-width: 800px) {
  #theme-toggle{
    position: absolute;
    top: 5%;
    left: 5%;
  }
}

@media (max-width: 500px){
  #theme-toggle{
    position: sticky;
    top: 20px;
    left: 50%;
    display: inline-block;
  }
}




